*.h5
*.pb
*.tflite
*.zip
neural_net/dataset
nerual_net/actual_images
server/image.jpg
*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
